#wrapper {
  /* background-image: url('../../frontend/src/assets/abstract-rainbow-6296890_1280.jpg'); */
  /* background-image: url('../../frontend/src/assets/R.jpg'); */
  /* background-image: url('../../frontend/src/assets/eats2.png'); */
  /* background-image: url('../../frontend/src/assets/better.jpeg'); */
  background-image: url('../../frontend/src/assets/Fondo.png');
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  background: linear-gradient(400);
}
